extends ../layout.jade 
block contenido
    .container(style='border: 1px solid white; margin-top: 5%;')
        .row
            .col
                h5(style='text-align:center') Suicidios por generos
                canvas#michart(style='width: 100%', height='300')
            .col
                h5(style='text-align:center') Suicidios por rango de edades
                canvas#michart2(style='width: 100%', height='300')
        .row
            .col(style='margin-top: 5%;')
                h5(style='text-align:center') Suicidios por generaciones
                canvas#michart3(style='width: 100%', height='300')
            .col(style='margin-top: 5%;')
                h5(style='text-align:center') Suicidios por continente
                canvas#michart4(style='width: 100%', height='300')
        .row
            .col(style='margin-top: 5%;')
                h5(style='text-align:center') Suicidios por año cada 100.000 personas
                canvas#michart5(style='width: 100%', height='300')
            .col(style='margin-top: 5%;')
                h5(style='text-align:center') Suicidios por año cada 100.000 personas en colombia
                canvas#michart6(style='width: 100%', height='300')
    script(src='js/myjs.js')
