doctype html
html(lang="en")
  head
    title ¡El mejor lugar del mundo!
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(href='https://fonts.googleapis.com/css?family=Fredoka+One&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap', rel='stylesheet')
  body
   .col-md-3.d-block.mx-auto.quitar-float.text-center.espacio-arriba2
      img.animated.bounce(src='imgs/Inicio.png')
      h1.raleway.grande.verde.animated.zoomIn.retraso-1 El suicidio en el siglo XXI
      .animated.fadeIn.retraso-2
      h2 Prevención del Suicidio
      nav.text-center
        a.espacio-derecha.naranja(href='/acerca') Acerca del Tema
        a.espacio-derecha.naranja(href='/dashboard') DashBoard
        a.espacio-derecha.naranja(href='/globe') WebGL Globe
        a.espacio-derecha.naranja(href='/data') Datos
        p Universidad de Bogotá Jorge Tadeo Lozano
  script(src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src="js/main.js")