extends ../layout.jade 
block contenido
  div(class="col-md-5 d-block mx-auto quitar-float espacio-arriba text-left")
    h2(class="anton naranja mediano espacio-izquierda") Login administradores
    form(method="POST" action="/data" style="margin-top:1.5em;")
      div(class="form-group")
        label Contraseña 
        input(type="password" name="password" placeholder="Contraseña de administrador" class="form-control")
      div(class="form-group text-right")
        input(type="submit" class="btn btn-info" value="Guardar")